# VSCode
/.vscode

#Env variables
.env

# Database
.sqlite

# Node
package-lock.json
node_modules/

# Composer / Node
/vendor
composer.lock

# Laravel 10
public/storage
public/hot
public/build
/.phpunit.cache
/storage/*.key
Homestead.json
Homestead.yaml
auth.json
/.fleet
/.idea
